name: Update Upstash Vector on Data Change

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - rag_data.json

jobs:
  update-vectors:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: pip install google-generativeai upstash-vector

      - name: Upload to Upstash Vector
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
          UPSTASH_VECTOR_REST_URL: ${{ secrets.UPSTASH_VECTOR_REST_URL }}
          UPSTASH_VECTOR_REST_TOKEN: ${{ secrets.UPSTASH_VECTOR_REST_TOKEN }}
        run: python api/utils/upload_vectorstore_data.py --workflow